<div class='container-fluid'>  
    <!-- <div class="row" style="padding: 20px;">  
        <div class="col-sm-12 btn btn-success">  
          
        </div> 
    </div>   -->
    <div class='col-12  frame' >  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="https://img.freepik.com/premium-photo/shopping-bag-with-food-groceries-table-supermarket_8087-1414.jpg?w=1060" alt="Veggie">  
                <div class="carousel-caption">  
                     
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://c1.wallpaperflare.com/preview/371/752/873/minion-banana-fruit-healthy.jpg" alt="Veggie">  
                <div class="carousel-caption">  
                     
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://img.freepik.com/premium-photo/metal-shopping-cart-with-fruits-vegetables-persons-hand-yellow-background_427957-1157.jpg?w=900" alt="Veggie">  
                <div class="carousel-caption">  
                  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://media.istockphoto.com/id/1316968335/photo/shopping-cart-full-of-food-on-yellow-background-grocery-and-food-store-concept.jpg?b=1&s=170667a&w=0&k=20&c=OaGCdnoAK5BWZp5MJeM_Knifd4ULl8sNDKvUxd1qgQw=" alt="Veggie">  
                <div class="carousel-caption">  
               
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="https://c1.wallpaperflare.com/preview/687/873/316/shopping-fruit-vegetables-business.jpg" alt="Veggie">  
                <div class="carousel-caption">  
                      
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
  
</div>  