<form id="form-box" method="get">
    <div id="form-title">Shipping Address</div>
  
    <div class="form-header">Address Line 1</div>
    <input
      type="search"
      class="form-input"
      id="addrs_1"
      placeholder="Search address here..."
    />
  
    <div class="form-header">Address Line 2</div>
    <input type="text" class="form-input" id="addrs_2" />
  
    <div class="form-header">Suburb</div>
    <input type="text" class="form-input" id="suburb" />
  
    <div class="form-header">State</div>
    <input class="form-input" id="state" />
  
    <div class="form-header">Postcode</div>
    <input class="form-input" id="postcode" />
  
    <input class="btn" disab type="submit" name="next" routerLink="/payment" value="NEXT" />
  </form>
  