<header>
    <h1>Contact Us Form Using Angular Material</h1>
  </header>
  <div class="content">
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your email" required>
        <mat-icon matSuffix>drafts</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input type="tel" matInput placeholder="Telephone" required>
        <mat-icon matSuffix>call</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Subject" required>
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Textarea" required></textarea>
        <mat-icon matSuffix>save</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="btn-custom" (click)="onSubmit()">Send Now<i class="material-icons">
          send
        </i></button>
    </form>
  </div>