<!-- 
<html>
    <body>
<p style="text-align: center;text-align: justify;width: 50%;
margin-left: 90px;margin-top: 40px;color: rgb(2, 2, 1);
font-weight: bold;float: left;">
    Vegetables are parts of plants that are consumed by humans
    or other animals as food. The original meaning is still commonly 
    used and is applied to plants collectively to refer to all edible
     plant matter, including the flowers, fruits, stems, leaves, roots,
      and seeds. An alternative definition of the term is applied somewhat 
      arbitrarily, often by culinary and cultural tradition.</p>
  

<div style="background-image: url('../../assets/veg2.jpeg'); 
   height:300px;width: 300px; padding-top:80px;float: right;margin-right: 150px;margin-top: 200px;">
</div>
</body>
</html> -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> An About Us Page | CoderGirl </title>
  <!---Custom Css File!--->

</head>
<body>
  <section class="about-us">
    <div class="about">
      <img src="../../assets/logo.jpeg" class="pic">
      <div class="text">
        <h2>About Us</h2>
        <h5> Eat Healthy, Live Long,   <span> Live Strong! </span></h5>
          <p>What you eat matters.Nourshing your body with fruits & veggies is key to living a long and healthy life.Which is why special attention needs to be given to waht you buy.At Instamart,we go extra mile to deliver produce that's clean,safe & delicious</p>
        <div class="data">
        <a href="#" class="shop">Shop with us</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

 